<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Request leave</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="/request-leave" method="post" class="request-leave__form">
          <div class="mb-3">
            <label for="leave_date" class="form-label fw-bold"
              >Leave date:
            </label>
            <input
              type="date"
              class="form-control"
              id="leave_date"
              name="leave_date"
            />
          </div>

          <div class="mb-3">
            <label for="leaving_reason" class="form-label fw-bold"
              >Leaving reason:
            </label>
            <select
              class="form-select"
              name="leaving_reason"
              id="leaving_reason"
            >
              <option value="vacation">Vacation</option>
              <option value="sick">Sick</option>
            </select>
          </div>
          <input type="text" name="leave_id" value="<%= leaves.id  %>" hidden />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="request-leave__btn btn btn-primary">
          Send Request
        </button>
      </div>
    </div>
  </div>
</div>
